[submodule "link/.vim/bundle/tmuxline.vim"]
	path = link/.vim/bundle/tmuxline.vim
	url = https://github.com/edkolev/tmuxline.vim.git
[submodule "link/.vim/bundle/vim-airline"]
	path = link/.vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "link/.vim/bundle/vim-tmux-navigator"]
	path = link/.vim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
