[user]
	name = Mark Furland
	email = mtfurlan@i3detroit.org
[core]
	editor = vim
	pager = less -R
	excludesfile = ~/.gitglobalignore

[color]
	ui = auto
[push]
	default = simple
	followTags = true
[merge]
	tool = vimdiff
