[user]
	name = Mark Furland
	email = markfurland@gmail.com
[core]
	editor = vim
	pager = less -R
	excludesfile = ~/.gitignore
[color]
	ui = auto
[push]
	default = simple
	followTags = true
[merge]
	tool = vimdiff
