[user]
	name = Mark Furland
	email = mark@fur.land
[core]
	editor = vim
	excludesfile = ~/.gitignore_global


[includeIf "gitdir:~/work/"]
	path = ~/work/.gitconfig

[include]
	path = ~/.gitconfiglocal

[color]
	ui = true
[push]
	default = simple
	followTags = true
[merge]
	tool = vimdiff
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse

[alias]
	# short aliases
	st = status
	co = checkout
	ci = commit
	br = branch
	df = diff
	rb = rebase
	lg = log -p
	rso = remote show origin
	me = config user.name
	smash = !git ir

	# interactive rebase
	ir = !sh -c 'git rebase -i origin/${1-master}' -

	upQuiet = !git pull --rebase --prune --autostash --recurse-submodules

	llog = !git log --pretty=format:'%Cgreen(%ci)%Creset %Cred%h%Creset %<(20,trunc)%C(bold blue)%an%Creset  %s %C(yellow)%d%Creset ' --abbrev-commit
	glog = !git log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

	# all commits that aren't merges on all branches
	all = !git log --pretty=oneline --abbrev-commit --all --no-merges

	# all commits today for only me
	today = !git llog --since='12am' --all --no-merges --committer=\"`git me`\"

	# and yesterday
	yesterday = !git llog --since='yesterday 12am' --until='12am' --all --no-merges --committer=\"`git me`\"

	# and the same, but for everyone
	today-all = !git llog --since='12am' --all --no-merges
	yesterday-all = !git llog --since='yesterday 12am' --until='12am' --all --no-merges

	up = !sh -c 'logstart=$(git rev-parse HEAD) && git upQuiet && echo "" && git --no-pager llog ${logstart}.. --stat'

[pull]
	ff = only
[init]
	defaultBranch = main

[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
